<div class="outer" id="full">
  <div class="col-cont"> 
    <div id="left" class="col">
      <h1>Andrew</h1>
      <%= image_tag 'profile.jpg', class: 'me profile-pic' %>
    </div><div id="right" class="col">
      <h1>John</h1>
      <%= image_tag 'http://www.northleach.gov.uk/wp-content/uploads/2013/12/blank-avatar-220x220.png', class: 'me profile-pic' %>
    </div>   
  </div>   
    
</div>