<div class="outer">
	<div class="jumbotron">
		<h2 class="text-center">Next Workout</h2>
		<div class="row">
			<div class="col-sm-6">
				<div class="col-sm-6 text-center">
					<div class="panel">
              			<h5>Tuesday</h5>
            		</div>
            	</div>
            	<div class="col-sm-6 text-center">
					<div class="panel">
              			<h5>Friday</h5>
            		</div>
            	</div>
			</div>
		</div>
	</div>
</div>