<div class="outer">
    <div class="title">
      <div class="row text-center">
        <h1>Search Results</h1>
      </div>
    </div>
  <section class="text-center">
      <%= link_to static_pages_find_buddy_path  do %>
        <span class="link-button">
          Go Back
        </span>
      <br>
      <br>
      <% end %>  
      <div class="row">  
        <%= render partial: "user_row_B", collection: @users, as: 'user' %>
      </div>
  </section>
</div>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script type="text/javascript">
        $(document).ready(function(){
        $('[data-toggle="popover"]').popover();   
        });
</script>