<div class="outer">
  <section>
    <h1>Match Results</h1>
      <%= link_to static_pages_find_buddy_path  do %>
        <span class="link-button">
          < Go Back
        </span>
      <br>
      <br>
      <% end %>    
    
    <table class="results">
      <%= render partial: "user_row", collection: @users, as: 'user' %>
    </table>
  </section>
</div>