
<div class="outer">
  <section>
    <h1>John Smith's Profile</h1>
    <%= image_tag 'http://www.northleach.gov.uk/wp-content/uploads/2013/12/blank-avatar-220x220.png', class: 'me profile-pic' %>
  </section>
  <section>
    <h3>Buddies</h3>
      <span class="buddy-box">
        <%= image_tag 'profile.jpg', class: 'bud profile-pic' %>
        <br>
        Andrew Simon
      </span>
  </section>

</div>