<%= link_to buddy_page_user_path(buddy) do %>
  <span class="buddy-cont">
              <%= image_tag 'http://www.northleach.gov.uk/wp-content/uploads/2013/12/blank-avatar-220x220.png', class: 'bud profile-pic' %>
    <br>
    <%= buddy.name %>
  </span>
<% end %>