<div class="outer" id="full">
  <div class="next-workout white-box">
    Next Workout: 2/27/15
    <br>
    Running at 3:00 p.m.
  </div>
  <div class="challenge white-box">
    <h5>WEEKLY CHALLENGE: RUN 20 MILES</h5>
    <div class="bar-cont">
      <div class="bar">
      </div>
    </div>

    <div class="prog">
      <span class="left">
        13 mi.
      </span>
      <span class="right">
        2 mi.
      </span>
    </div>

  </div>
  <div class="col-cont">
    <div id="left" class="col">

      <%= image_tag 'profile.jpg', class: 'me profile-pic' %>
      <h1>Andrew</h1>
    </div><div id="right" class="col">

    <%= image_tag 'http://www.northleach.gov.uk/wp-content/uploads/2013/12/blank-avatar-220x220.png', class: 'me profile-pic' %>
    <h1>John</h1>
  </div>
  </div>

</div>