<!-- This will be future profile -->
<h1>
  <%= @user.name %>, <%= @user.email %>
</h1>

<div class="prof">
	<!-- Profile Image -->
	<img src="whatever their image is" class="prof-img">

	<!-- Activity Badges -->
	<div class="activitybadge">
		<img src="activity1">
		<img src="activity2">
		<img src="activity3">
		<img src="activity4">	
	</div>

	<!-- Name -->
	<h1><%@user.name %></h1>
	<!-- Location -->
	<p>Location</p>
	<p>This is where I would write stuff about me.</p>
	<h3>My Goals</h3>
	<h4>1. Goal #1</h4>
	<h4>2. Goal #2</h4>
	<h4>3. Goal #3</h4>
</div>