<div class="title">
	<div class="row text-center">
		<h1>Your Workouts</h1>
	</div>
	<a href="javascript:;" class="add-buddy-button next">
        <div class="add-buddy">
            <span>+</span>
        </div>
    </a>
</div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Thursday -- Mar 12
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="text-center">
        	<h2>3 Mile Run</h2>
        	<h4>5PM - 5:30 PM</h4>
        	<h4>La Jolla Shores</h4>
        </div>
        <div class="row workout-icons">
        	<div class="col-xs-6 text-center">
        		<i class="fa fa-user fa-2x"> <h4>Pritika</h4></i>
        	</div>
        	<div class="col-xs-6 text-center">
        		<i class="fa fa-envelope fa-2x"> <h4>Message</h4></i>
        	</div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Friday -- Feb 13
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Sunday -- Feb 15 
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
      </div>
    </div>
  </div>
</div> 