$bgColor: #E4E8D1;

body {
  background-color: $bgColor;
}

select, input {
  outline:none !important;
  line-height: normal;
}

div.box {
  font-size: 8vw;
  div#big-logo {
    text-align: center;
    margin-top: .5em;
    margin-bottom: 2em;

    img {
      width:35%;
    }
    span#pairfit {
      display: inline-block;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 1em;
      margin-top: .5em;
    }
  }



}