

span.buddy-cont {
  display: inline-block;

  vertical-align: top;

  width: 20%;
   margin: 1em;
  text-align: center;

  img.profile-pic {
    border-radius: 50%;
  }


  img.bud {
    width: 100%;
    //max-width: 40px;

  }

}