

span.buddy-cont {
  display: inline-block;

  vertical-align: top;

  width: 20%;
   margin: 1em;
  text-align: center;

  img.profile-pic {
    border-radius: 50%;
  }


  img.bud {
    width: 100%;
    //max-width: 40px;

  }

}

div.workout-icons {
  border-top: 2px solid #333;
  padding-top: 10px;
  margin-top: 15px;
}

div.workout-icons h4{
  display: inline;
}